* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: blue;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Rainbow "RPS" Title */
.rainbowText {
    font-size: 50px;
    cursor: pointer;
    transition: 0.09s;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 400px;
    border: 3px solid white;
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.scoreboard-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    margin-top: 2px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.Rock {
    display: flexbox;
    margin: 5px;
    padding: 65px;
    background: url("/images/moai_1f5ff.png");
    background-repeat: no-repeat;
}

.Paper {
    display: flexbox;
    margin: 5px;
    padding: 65px;
    background: url("/images/roll-of-paper_1f9fb.png");
    background-repeat: no-repeat;
}

.Scissors {
    display: flexbox;
    margin: 5px;
    padding: 65px;
    background: url("/images/scissors_2702-fe0f.png");
    background-repeat: no-repeat;
}

.scoreboard {
    height: 200px;
    width: 400px;
    border: 3px solid white;
    background-color: black;
    font-size: 5px;
}

.button:hover {
    transform: scale(0.9);
  }

.header-container:hover {
    transform: scale(0.9);
}